/* css to all the elements */
* {
  font-family: "Lobster", cursive;
  letter-spacing: 0.1em;
}

/* body */
body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* converting to flex */

#container {
  display: flex;
  flex-direction: row;
}

#container div {
  width: 80%;
}

/* heading  */

#page-heading {
  text-align: center;
  margin-top: 50px;
}

.horizontal-divider {
  width: 100% !important;
  height: 1px;
  margin-bottom: 10px;
  background-color: grey;
}

form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  margin: auto;
}

#description {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border: none;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
}

#category {
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#date {
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

button {
  margin: 20px;
}

#add-btn {
  height: 50px;
  width: 100px;
  background-color: grey;
  font-weight: bolder;
  color: white;
}

#delete-btn {
  height: 50px;
  width: 100px;
  background-color: tomato;
  font-weight: bolder;
  color: white;
}

.task {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.task .checkbox {
  width: 60%;
  margin-left: 10px;
  color: black;
  font-size: 1.2rem;
}

.task .category span {
  margin-right: 10px;
  margin-top: 2px;
  background-color: blue;
  padding: 5px;
  color: white;
  font-weight: bolder;
}

.task p {
  width: 100%;
  padding-left: 30px;
  color: rosybrown;
}

#task-list-container {
  background-color: mistyrose;
}

#delete-form {
  margin-top: -20px;
}
